.Button {
    outline:none;
    border: 4px solid white;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    font-size: .8em;
    height: inherit;
    text-align: center;
    min-height: 2em;
    padding: .5em;
}

/*
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/

.Proceed {
    background-color: darkolivegreen;
    cursor: pointer;
}
.Proceed:hover {
    background-color: yellowgreen;
}

.Cancel {
    background-color: darkred;
    cursor: pointer;
}
.Cancel:hover {
    background-color: red
}

.Disabled {
    background-color: lightgray;
    cursor: pointer;
}
.Disabled:hover {
    background-color: gray;
}
